# Local .terraform directories
 **/terraform_aws/.terraform/*

#  Ignore variables files
 *.auto.tfvars

#  Ignore override files
 *.tfoverride

#  Ignore environment-specific files
 .envrc

#  Ignore CLI configuration files
 .terraformrc
 terraform.rc
terraform_aws/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/darwin_amd64/terraform-provider-aws_v4.67.0_x5
terraform_aws/terraform.tfstate
terraform_aws/terraform.tfstate.backup
